.element__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 319px) {
  .element__img {
    min-height: 100px;
  }
}