.form {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 34px 36px 37px 36px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  .form {
    max-width: 282px;
    padding: 25px 22px 25px 22px;
  }
}