.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  background: url(../../../images/trash.svg) center no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  display: block;
}