.profile {
  display: flex;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 51px 0;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 40px 0 36px 0;
    flex-direction: column;
  }
}