.profile__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__title {
    width: 100%;
    max-width: 360px;
  }
}

@media screen and (max-width: 424px) {
  .profile__title {
    max-width: 217px;
  }
}