.elements {
  display: grid;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  row-gap: 20px;
  column-gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}

@media screen and (max-width: 767px) {
  .elements {
    padding: 0 19px 0 19px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 319px) {
  .elements {
    grid-template-columns: minmax(100px, 1fr);
  }
}