.footer__copyrigth {
  color: #545454;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 67px 0 60px 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__copyrigth {
    margin: 67px 0 60px 19px;
    font-size: 14px;
    line-height: 17px;
  }
}