.profile__name {
  color: #FFFFFF;
  font-size: 42px;
  line-height: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

@media screen and (max-width: 424px) {
  .profile__name {
    font-size: 27px;
    line-height: 32px;
  }
}