.form__submit_status_inactive {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  opacity: .2;
}

.form__submit:hover {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}
