.profile__img-info {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .profile__img-info {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}
