@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/main/main.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__img-info/profile__img-info.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__img/element__img.css);
@import url(../blocks/element/__caption/element__caption.css);
@import url(../blocks/element/__mesto/element__mesto.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_disabled/element__like_disabled.css);
@import url(../blocks/element/__like/_active/element__like_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth/footer__copyrigth.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_status-opened/popup_status_opened.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__close-button/form__close-button.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__input-name/form__input-name.css);
@import url(../blocks/form/__input-subtitle/form__input-subtitle.css);
@import url(../blocks/form/__submit/form__submit.css);

/* { outline: 1px solid yellow; }
